<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VOIDpay | Integração Simples</title>

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/VOIDabinerJR/VOIDpayWebMVP2/main/img/logo.ico"
        type="image/x-icon">
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
        }

        .header {
            background-color: #000000;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }

        .header a {
            color: #fff;
            text-decoration: underline;
        }

        .header .sandbox-mode {
            color: #7a3dff;
            font-size: 14px;
        }

        .create-app {
            display: inline-block;
            width: 120px;
            margin: 20px 0;
            padding: 10px;
            background-color: #000000;
            color: white;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
            text-align: left;
        }

        .table td a {
            color: #007bff;
            text-decoration: none;
        }

        .text {
            color: #000;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: fadeIn 0.3s;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        form div {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input[type="text"],

        form input[ type="password"],
        form select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        form input[type="radio"] {
            margin-right: 10px;
        }

        form button {
            background-color: #000000;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        form button:hover {
            background-color: #000000;
        }

        .container {
            max-width: 1200px;
            width: 100%;
            background: #fff;
            color: black;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px;
        }

        .header {
            background-color: #000000;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }

        .header a {
            color: #fff;
            text-decoration: underline;
        }

        .header .sandbox-mode {
            color: #7a3dff;
            font-size: 14px;
        }

        .header-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .header-options select,
        .header-options .credentials {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .header-options .credentials {
            background-color: #f5f5f5;
            cursor: pointer;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
            line-height: 1.6;
        }

        a {
            color: #0070ba;
            text-decoration: none;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        .button-container a {
            padding: 10px 20px;
            border: 1px solid #000000;
            border-radius: 5px;
            text-align: center;
            color: #000000;
            text-decoration: none;
        }

        .button-container a:hover {
            background-color: #000000;
            color: #fff;
        }

        .section {
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            justify-content: space-between;
        }

        .text-section {
            flex: 1;
        }

        .code-block {

            background: #2d2d2d;
            color: #f8f8f2;
            padding: 20px;
            border-radius: 5px;
            overflow-x: auto;
            margin-left: 20px;
            max-width: 50%;
        }

        .code-block pre {
            background-color: transparent;

            margin: 0;
            color: white;
        }

        .preview {
            background: #000;
            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            margin: 20px 0;


        }

        .previewg {

            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            margin: 20px 0;
            max-width: 45%;
            margin-left: 55%;


        }

        code {
            background-color: #f4f4f4;
            padding: 2px 4px;
            border-radius: 4px;
        }

        .example-code {
            background-color: #f4f4f4;
            border-left: 3px solid #ddd;
            padding: 10px;
            margin: 10px 0;
            overflow-x: auto;
        }

        .note {
            background-color: #fff3cd;
            border: 1px solid #ffeeba;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <script>
                fetch('navbar.ejs')
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('accordionSidebar').innerHTML = data;
                    });
            </script>

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">
                                    <%=notification.notificationCount%> +
                                </span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificações
                                </h6>
                                <% message.forEach(message=> { %>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">
                                                <%= message.message %>
                                            </div>
                                            <div class="small text-gray-500">
                                                <%= message.sender %> · <%= message.createdAt %>
                                            </div>
                                        </div>
                                    </a>
                                    <% }); %>
                                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">
                                    <%=notification.notificationCount%>
                                </span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Mensagens
                                </h6>


                                <% message.forEach(message=> { %>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">
                                                <%= message.message %>
                                            </div>
                                            <div class="small text-gray-500">
                                                <%= message.sender %> · <%= message.createdAt %>
                                            </div>
                                        </div>
                                    </a>
                                    <% }); %>

                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <%=usuarios[0].firstname %>
                                </span>
                                <img class="img-profile rounded-circle" src="../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Integração Simples</h1>

                    </div>

                    <div class="container">
                        <div class="header">
                            Credenciais da API
                            <div>Para efeitos de TESTE recomedamos que crie uma APP DE TESTE. </div>
                            para estar no modo sandbox.
                        </div>


                        <div class="header-options">
                            <div>
                                <label for="frontend">Frontend:</label>
                                <select id="frontend">
                                    <option value="integracaoHtml">HTML</option>
                                    <option value="xml">XML</option>
                                    <option value="wordpress">WordPress</option>
                                    <option value="woocommerce">WooCommerce</option>
                                    <option value="shopify">Shopify</option>
                                    <option value="wix">Wix</option>
                                </select>
                            </div>
                            <div>
                                <label for="backend">Backend:</label>
                                <select id="backend">
                                    <option value="integracaoHtml">Nenhum</option>
                                    <option value="integracaoJs">Js</option>
                                    <option value="integracaoNodejs">Node.js</option>
                                    <option value="integracaoPhp">PHP</option>

                                </select>
                            </div>
                        </div>


                        <h1>Integrar o Checkout VOIDpay</h1>
                        <p>Antes de iniciar sua integração, você precisa certificar-se de <a href="/profile">terminar de
                                configurar perfil</a>. Você pode se referir a este <a href="flow">diagrama de fluxo</a>
                            e <a href="/tutorials">assistir a um vídeo</a> que demonstra como integrar o Checkout padrão
                            VOIDpay.</p>
                        <p>Comece sua integração pegando o código de exemplo no repositório VOIDpay GitHub ou visitando
                            o VOIDpay GitHub Codespace. <a href="#">Leia o guia de Codespaces</a> para mais informações.
                        </p>

                        <div class="button-container">
                            <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Baixar sample</a>
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i> Ver Tutorial </a>
                            <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> Pedir Ajuda</a>
                        </div>

                        <div class="section" id="integracaoJs">
                            <h2>1. Integrar o front-end - Js</h2>
                            <p>Conteúdo para integração com Js</p>
                            <div class="code-block">
                                <!-- Código de exemplo para Js -->
                            </div>
                        </div>

                        <div class="section" id="integracaoPhp">
                            <h2>1. Integrar o front-end - PHP</h2>
                            <p>Conteúdo para integração com PHP</p>
                            <div class="code-block">
                                <!-- Código de exemplo para PHP -->
                            </div>
                        </div>

                        <div class="section" id="integracaoOutro">
                            <h2>1. Integrar o front-end - Outro</h2>
                            <p>Conteúdo para integração com outra tecnologia</p>
                            <div class="code-block">
                                <!-- Código de exemplo para outras tecnologias -->
                            </div>
                        </div>

                        <script>
                            document.getElementById('backend').addEventListener('change', function () {
                                // Ocultar todas as seções
                                var sections = document.querySelectorAll('.section');
                                sections.forEach(function (section) {
                                    section.style.display = 'none';
                                });

                                // Mostrar a seção correspondente ao valor selecionado
                                var selectedValue = this.value;
                                document.getElementById(selectedValue).style.display = 'block';
                            });
                            document.getElementById('frontend').addEventListener('change', function () {
                                // Ocultar todas as seções
                                var sections = document.querySelectorAll('.section');
                                sections.forEach(function (section) {
                                    section.style.display = 'none';
                                });

                                // Mostrar a seção correspondente ao valor selecionado
                                var selectedValue = this.value;
                                document.getElementById(selectedValue).style.display = 'block';
                            });

                            // Exibir a primeira seção por padrão
                            document.getElementById('integracaoHtml').style.display = 'block';
                        </script>


                        <br><br><br><br><br><br><br><br>
                        <p>Esta documentação descreve como integrar um botão de pagamento na sua página web usando o SDK
                            fornecido. O botão permitirá que os usuários realizem pagamentos de maneira segura e
                            eficiente.</p>
                        <div class="section" id="integracaoHtml">

                            <div class="content">

                                <div class="text-section">
                                    <h2>1. Integrar o front-end</h2>
                                    <h2>1. Crie um Contêiner para o Botão de Pagamento</h2>
                                    <p>Adicione um elemento <code>&lt;div&gt;</code> para abrigar o botão de pagamento
                                        VOIDpay. Este contêiner é onde o botão será renderizado.</p>

                                    <div class="example-code">
                                        <code>
&lt;div id="void-button-container" buttonToken="SEU_TOKEN_DO_BOTAO_AQUI"&gt;&lt;/div&gt;
        </code>
                                    </div>

                                    <p>Substitua <code>SEU_TOKEN_DO_BOTAO_AQUI</code> pelo token do botão que você
                                        recebe do VOIDpay. Você pode obter este token no painel do VOIDpay.</p>

                                    <h2>2. Use o Token do Botão Correto</h2>
                                    <p>Para garantir que o botão de pagamento esteja vinculado à sua conta específica do
                                        VOIDpay, siga estas etapas:</p>
                                    <ol>
                                        <li>
                                            <strong>Obtenha o Token do Botão:</strong>
                                            <ul>
                                                <li>Acesse o painel do VOIDpay.</li>
                                                <li>Navegue até a seção onde você pode gerar ou visualizar seus tokens
                                                    de botão.</li>
                                                <li>Copie o token fornecido.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Insira o Token no Seu Código:</strong>
                                            Substitua <code>SEU_TOKEN_DO_BOTAO_AQUI</code> pelo token que você obteve.
                                        </li>
                                    </ol>

                                    <h2>3. Adicione o Script Necessário</h2>
                                    <p>Adicione a tag de script que carrega o SDK do VOIDpay. Este script é essencial
                                        para renderizar o botão de pagamento e lidar com as interações.</p>

                                    <div class="example-code">
                                        <code>
&lt;script src="http://localhost:3000/sdk/js?clientId=SEU_CLIENT_ID_AQUI&amp;accept=false"&gt;&lt;/script&gt;
        </code>
                                    </div>

                                    <p>Substitua <code>SEU_CLIENT_ID_AQUI</code> pelo seu ID de cliente real.</p>

                                    <ol>
                                        <li>
                                            <strong>Obtenha Seu ID de Cliente:</strong>
                                            <ul>
                                                <li>Acesse o painel do VOIDpay.</li>
                                                <li>Encontre a seção para credenciais da API</li>
                                                <li>Copie o ID de cliente fornecido.</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Insira o ID de Cliente no Seu Código:</strong>
                                            Substitua <code>SEU_CLIENT_ID_AQUI</code> pelo ID de cliente que você
                                            copiou.
                                        </li>
                                    </ol>

                                    <h2>4. Adicione um Parágrafo para Mensagens de Erro</h2>
                                    <p>Para ajudar na depuração, adicione um elemento <code>&lt;p&gt;</code> para exibir
                                        mensagens de erro. Isso ajudará a identificar problemas durante os testes.</p>

                                    <div  class="example-code">
                                        <code>
&lt;p id="error-message"&gt;&lt;/p&gt;
        </code>
                                    </div>
                                    <h2>5. Estrutura de Item de Produto</h2>
    <p>Para garantir que cada produto esteja corretamente formatado e apresentado, cada item de produto deve estar dentro de uma <code>div</code> com a classe <code>product-item</code>. Dentro desta <code>div</code>, cada informação do produto deve ter uma classe apropriada para garantir a consistência e a facilidade de estilização. As classes e suas prioridades são:</p>
    <ul>
        <li><code>img-item</code>: Para a imagem do produto</li>
        <li><code>name-item</code>: Para o nome do produto (prioridade alta)</li>
        <li><code>quantity-item</code>: Para a quantidade do produto(prioridade alta) </li>
        <li><code>price-item</code>: Para o preço do produto (prioridade alta)</li>
        <li><code>id-item</code>: Para o ID do produto</li>
    </ul>
                                    

                                </div>
                                <div class="code-block">
                                    <pre><code style="background-color: transparent; background: none;
">
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" 
    content="width=device-width"&gt;
    &lt;title&gt;Exemplo de Botão&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="product-item"&gt;
    &lt;div&gt;
        &lt;img class="image-item" style="width:45px;" 
        src="..."  alt="Imagem do Produto"&gt;
    &lt;/div&gt;
    &lt;div class="name-item"&gt;Produto 5&lt;/div&gt;
    &lt;div class="quantity-item"&gt;2&lt;/div&gt;
    &lt;div class="price-item"&gt;2200&lt;/div&gt;
    &lt;div class="id-item"&gt;005&lt;/div&gt;
&lt;/div&gt;


&lt;div id="void-button-container"
 buttonToken="VOID-cfbe5181-
     57c2-4a9a-b4fd-4a31bffd1fdd"&gt;&lt;/div&gt;
&lt;p id="error-message"&gt;&lt;/p&gt;
&lt;!-- Substitua  seu client-id. --&gt;
&lt;script 
src="http://localhost:3000/sdk/js?clientId=SEU-CLIENT-ID"&gt;
    &lt;/script&gt;
 

&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt; </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="previewg" style="background: #000000;">
                            <div class="preview">
                                Preview
                            </div>
                            <div class="preview" style="background: #ffffff;">
                                <div class="product-item">
                                    <div>
                                        <img class="image-item" style="width:45px;"
                                            src="https://images.tcdn.com.br/img/img_prod/275189/camisa_preta_100_poliester_para_sublimacao_g_2697_1_20200722153318.jpg"
                                            alt="Imagem do Produto 5">
                                    </div>
                                    <div class="text"><strong>Produto:</strong></div>
                                    <div class="name-item text">Camisa</div>
                                    <div class="text"><strong>Quantidade:</strong></div>
                                    <div class="quantity-item text">2</div>
                                    <div class="text"><strong>Preço:</strong></div>
                                    <div class=" text">
                                        <p class="price-item">900</p>
                                    </div>
                                    <div class="text"><strong>Id:</strong></div>
                                    <div class="id-item text">5</div>
                                </div>

                                <div id="void-button-container" buttonToken="VOID-04fce89f-0952-4736-8c35-c93c0e503809">
                                </div>
                                <div id="buttonid" name="VOID-04fce89f-0952-4736-8c35-c93c0e503809"></div>
                                <script
                                    src="http://localhost:3000/sdk/js?clientId=49db28ad-8ce0-4370-aefd-3f8636b6081b&acept=false"></script>


                            </div>
                        </div>



                    </div>


                </div>














                <!-- End of Main Content -->


                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy;VOIDpay 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>

                    </div>
                </div>
            </div>
        </div>







        <!-- Dataloader-->
        <script src="dataloader.js"></script>
        <script src="dataloader2.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

        <script src="dashboad.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/datatables-demo.js"></script>



        <script>
            function toggleSubMenu(event, submenuId) {
                event.preventDefault(); // Impede o link de seguir para href="#"

                var submenu = document.getElementById(submenuId);
                if (submenu.style.display === "block") {
                    submenu.style.display = "none";
                } else {
                    submenu.style.display = "block";
                }
            }
        </script>
</body>

</html>